.food-item {   
  width: 100%; /* il permette à l'élément de prendre toute la largeur de son conteneur parent */
  max-width: 300px; /* largeur maximale de l'élément */
  margin: auto; /* centre l'élément horizontalement */
  border-radius: 15px; /* coins arrondis */
  box-shadow: 0px 0px 10px #00000015; /* il permet d'ajouter une ombre portée autour de l'élément */
  transition: 0.3s; /* transition pour les effets de survol */
  animation: fadeIn 1s; /* animation d'apparition */
}

.food-item-img{ /* style de l'image */
    width: 100%;  /* l'image prend toute la largeur de son conteneur parent */
    border-radius: 15px 15px 0px 0px;  /* coins arrondis en haut */
}

.food-item-info{
   padding: 20px; /* espace intérieur autour du contenu */
}

.food-item-name-rating{
    display: flex;  /* utilise le modèle de boîte flexible pour la mise en page */
    justify-content: space-between; /* espace entre les éléments */
    align-items: center;  /* aligne les éléments verticalement au centre */
    margin-bottom: 10px;  /* espace en dessous */
}

.food-item-name-rating p{
  font-size: 20px;    /* taille de la police */
  font-weight: 70px;  /* épaisseur de la police */
}

.food-item-name-rating img{
  width:70px;     /* largeur de l'image */
}

.food-item-desc{
  color: #676767; /* couleur du texte */
  font-size: 12px;  /* taille de la police */
}

.food-item-price{
 color:tomato; /* couleur du texte */
 font-size: 22px; /* taille de la police */
 font-weight: 500; /* épaisseur de la police */
 margin:10px 0px; /* marge en haut et en bas */

}

.food-item-img-container{
  position: relative; /* positionnement relatif pour permettre le positionnement absolu des éléments enfants */
}

.food-item-img-container .add{
  position: absolute; /* positionnement absolu pour placer l'icône d'ajout */
  bottom: 15px; /* positionnement en bas */
  right: 15px; /* positionnement à droite */
  width: 35px; /* largeur de l'icône */
  cursor: pointer; /* curseur en forme de main au survol */
  border-radius: 50%; /* icône ronde */
}

.food-item-conter{
  position: absolute; /* positionnement absolu pour placer le compteur */
  bottom: 15px; /* positionnement en bas */
  right: 15px; /* positionnement à droite */
  display: flex; /* utilise le modèle de boîte flexible pour la mise en page */
  align-items: center; /* aligne les éléments verticalement au centre */
  gap: 10px; /* espace entre les éléments */
  padding: 6px; /* espace intérieur autour du contenu */
  background-color: white; /* couleur de fond blanche */ 
  border-radius: 50px; /* coins arrondis */
}

.food-item-conter img{
  width: 22px; /* largeur des icônes */
}
