.navbar{
   /* width:100%; /* pleine largeur */
    padding: 20px 0px; /* espacement vertical */
    display: flex;      /* aligner les éléments en ligne */
    justify-content: space-between; /* espacer les éléments */
    align-items: center;
    /*position: fixed; /* position fixe */
    /*top: 0; /* toujours en haut */
    /*left: 0; /* toujours à gauche */   
}   

.navbar .logo{
    width: 150px;
}
.navbar-menu{
    display: flex; /* aligner les éléments en ligne */
    gap: 20px;  /* espacement entre les éléments */
    list-style: none; /* supprimer les puces */
    color: #49557e; /* couleur du texte */
    font-style: 18px; /* taille de la police */   
}

.navbar-right{
    display: flex; /* aligner les éléments en ligne */
    align-items: center; /* aligner les éléments verticalement */
    gap: 40px; /* espacement entre les éléments */
}

.navbar button{
    background: transparent; /* fond transparent */
    font-size: 16px; /* taille de la police */
    color: #49557e; /* couleur du texte */
    border: 1px solid tomato; /* bordure  */
    padding: 10px 30px; /* espacement interne */
    border-radius: 50px; /* arrondir les coins */
    cursor: pointer; /* curseur pointeur */
    transition: 0,3s; /* transition */
}

.navbar button:hover{
 background-color: #fff4f2;    
}

.navbar .active{
    padding-bottom: 2px; /* il permet d'ajouter un espace en bas de l'élément actif */
    border-bottom: 2px solid #49557e; /* il ajoute une bordure en bas de l'élément actif */
}
.navbar li{
    cursor: pointer; /* curseur pointeur */
}

.navbar-search-icon{
    position: relative; /* position relative qui veut dire que l'élément est positionné par rapport à son emplacement normal */
}
.navbar-search-icon .dot{
    position: absolute; /* position absolue qui veut dire que l'élément est positionné par rapport à son premier parent positionné */
    top: -8px; /* positionner en haut */
    right: -8px; /* positionner à droite */
    min-width: 10px; /* largeur */
    min-height: 10px; /* hauteur */
    background-color: tomato; /* couleur de fond */
    border-radius: 5px; /* arrondir les coins */
}