@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family: outfit; /* Importation de la police Outfit depuis Google Fonts */
}

body{
  min-height:100vh;
}
a{
  text-decoration:none;
  color:inherit;  /*Inherit color permet de garder la couleur du texte par défaut*/  
}
.app{
  width:80%;
  margin: auto;
}